<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.DocumentReader.Api.iOS" version="6.2.2422" targetFramework="xamarinios10" />
  <package id="Xamarin.DocumentReader.Core.FullRfid.iOS" version="6.2.5964" targetFramework="xamarinios10" />
  <package id="Xamarin.RegulaCommon.iOS" version="6.2.110" targetFramework="xamarinios10" />
</packages>